/*
Jan Huiskes
10740929
*/


.line {
  fill: none;
  stroke-width: 1.5px;
}

.circle {
    fill: white;
    stroke-width: 2px;
}

.circle:hover {
  fill: red;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}


/* Title style */

.axTitle {
  fill: black;
  font: 16px sans-serif;
}

.Title {
  fill: black;
  font: 25px sans-serif;
  font-weight: bold;
}

/* Button style */
.button {
  fill: #567ba0;
  stroke-width: 2px;
}

#text-button {
  font-size: 15px;
  fill: #fff;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Cross Hair style */
.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

/* Axes style */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
}
